.btn_con {
    margin: auto; margin-top: 15px;
    width: 1184px; height: 75px;
}
.btn_con ul {
    width: 100%; height: 100%;
    display: flex;
}
.btn_con ul li {
    /* padding: 23px 0; */
    width: 25%; height: 100%;
    text-align: center;
    border: 2px solid #000000;
    cursor: pointer;
}
.btn_con ul li:nth-child(1) {
    border: 0;
    border-bottom: 2px solid #000000;
    background-color: #F2F2F2;
}
.btn_con ul li:nth-child(1) .btn_link {
    color: #C0C0C0;
    border-right: 1px solid #FFFFFF;
}
.btn_con ul li:nth-child(2) {
    border-bottom: 0;
}
.btn_con ul li:nth-child(3) {
    border: 0;
    border-bottom: 2px solid #000000;
    background-color: #F2F2F2;
}
.btn_con ul li:nth-child(3) .btn_link {
    color: #C0C0C0;
    border-right: 1px solid #FFFFFF;
}
.btn_con ul li:nth-child(4) {
    border: 0;
    border-bottom: 2px solid #000000;
    background-color: #F2F2F2;
}
.btn_con ul li:nth-child(4) .btn_link {
    color: #C0C0C0;
}
.btn_con ul li .btn_link {
    width: 100%; height: 100%;
    line-height: 75px;
    font-size: 24px; font-weight: 900;
    display: block;
}

.container {
    margin: auto; padding-top: 45px;
    width: 1184px;
}

.grilled_in {
    padding: 130px 550px 0 0;
    height: 510px;
}
.grilled_in div {
    margin-bottom: 25px;
}
.grilled_in p {
    margin-left: 9px;
    font-size: 18px; font-weight: 600;
    line-height: 32px;
}

.grilled_bottom {
    height: 480px;
    background: url('./images/bg_grill.jpg') no-repeat center center;
}
.grilled_bottom_in {
    margin: auto; padding: 0 20px;
    width: 1184px; height: 100%;
    display: flex;
    justify-content: space-between; align-items: center;
}
.grilled_bottom_in p {
    width: 545px;
    line-height: 30px;
    font-size: 18px; font-weight: 600;
    color: #FFFFFF;
}