.main {
    margin-top: 120px;
    width: 100%;
    background-color: #F2EBE6;
}

.main_in {
    margin: auto;
    width: 1440px;
}


/* .main_sl {
    height: 480px;
    overflow: hidden;
    position: relative;
}
.main_img ul {
    width: 100%;
}
.main_img ul li {
    width: 100%;
    position: absolute;
    left: 100%;
}
.main_img ul li:first-child {
    left: 0;
}
.sl_btn {
    display: flex;
    
}
.sl_btn div {
    width: 60px; height: 60px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    display: flex;
    justify-content: center; align-items: center;
}
.sl_btn div.prev_btn {
    left: 0;
}
.sl_btn div.next_btn {
    right: 0;
}

.sl_control ul {
    display: flex;
    justify-content: center; align-items: center;
    position: absolute;
    bottom: 30px; left: 50%;
    transform: translate(-50%, 0);
}
.sl_control ul li {
    margin: 0 4px;
    width: 8px; height: 8px;
    border-radius: 4px;
    background-color: #FFFFFF;
    cursor: pointer;
}
.sl_control ul li.on {
    background-color: #E2231A;
}
.sl_control ul li:last-child {
    width: 20px; height: 20px;
    border: none;
    background-color: transparent;
} */


.main_video {
    height: 605px;
}


.main_sns {
    padding: 0 148px;
    height: 160px;
    background-color: #683A2F;
}
.main_sns ul {
    width: 100%; height: 160px;
    display: flex;
    justify-content: space-between; align-items: center;
}
.main_sns ul li {
    width: 33%;;
}
.main_sns ul li div {

}
.main_sns ul li a {
    display: flex;
    justify-content: center; align-items: flex-start;
}
.main_sns ul li div strong {
    color: #FFFFFF;
    font-size: 20px;
}
.main_sns ul li div p {
    margin-top: 5px; padding: 0 9px 0 33px;
    height: 26px;
    font-size: 12px; font-weight: bold;
    color: #2E2E2E;
    line-height: 26px; height: 26px;
    border-radius: 4px;
}
.main_sns ul li:nth-child(1) div p {
    background: #FFFFFF url('./images/subscribe.png') no-repeat 10px;
}
.main_sns ul li:nth-child(2) div p {
    background: #FFFFFF url('./images/like.png') no-repeat 10px;
}
.main_sns ul li:nth-child(3) div p {
    background: #FFFFFF url('./images/follower.png') no-repeat 10px;
}


.main_manual {
    height: 480px;
    display: flex;
}
.main_manual div {
    width: 50%;
}
.main_manual .maunal_app {
    background: #c7a186 url('./images/bg_home_guide_app.7be296de.png') no-repeat center center;
}
.main_manual .maunal_delivery {
    background: #b08972 url('./images/bg_home_guide_delivery.ee6ff497.png') no-repeat center center;
}
.main_manual div .maunal_link {
    display: block;
    width: 100%; height: 100%;
}


.main_search {
    padding: 100px 148px 88px;
    height: 600px;
    background-color: #FFFFFF;
    text-align: center;
}
.main_search h1 {
    padding-bottom: 10px;
    font-size: 48px; font-weight: bold;
    color: #2E2E2E;
}
.main_search h2 {
    font-size: 24px; font-weight: 600;
    color: #2E2E2E;
}
.main_search > p {
    margin: 35px auto 55px; padding: 3px 10px;
    width: 140px; height: 50px;
    
    border-radius: 25px;
    background-color: #D72300;
}
.main_search > p .search_btn {
    font-size: 24px; font-weight: bold;
    color: #FFFFFF;
    line-height: 44px; 
}
.main_search ul {
    display: flex;
    justify-content: space-around;
}
.main_search ul li {
    padding: 100px 0 8px;
    width: 16.6%;
    border-right: 1px solid #E5E5E5;
}
.main_search ul li:last-child {
    border-right: 0;
}
.main_search ul li:nth-child(1) {
    background: url('./images/dilibery.gif') no-repeat center 0;
}
.main_search ul li:nth-child(2) {
    background: url('./images/store.gif') no-repeat center 0;
}
.main_search ul li:nth-child(3) {
    background: url('./images/drive.gif') no-repeat center 0;
}
.main_search ul li:nth-child(4) {
    background: url('./images/category24.gif') no-repeat center 0;
}
.main_search ul li:nth-child(5) {
    background: url('./images/morning.gif') no-repeat center 0;
}
.main_search ul li:nth-child(6) {
    background: url('./images/parking.gif') no-repeat center 0;
}
.main_search ul li p {
    display: inline-block;
    font-size: 18px; font-weight: 600;
    color: #2E2E2E;
}
.main_search ul li span {
    display: inline-block;
    font-size: 18px; font-weight: bold;
    color: #E22219;
}


.main_ad {
    padding: 0 148px;
    height: 200px;
    background: url('./images/bg_home_cs.40b21d3f.png') no-repeat center center;
}
.main_ad ul {
    height: 200px;
    display: flex;
    justify-content: space-between; align-items: center;
}
.main_ad ul li:first-child {
    width: 814px;
}
.main_ad ul strong {
    margin-bottom: 20px;
    font-size: 32px; font-weight: bold;
    color: #FFFFFF;
}
.main_ad ul span {
    display: inline-block;
    font-size: 20px; font-weight: 600;
    color: #FFFFFF;
}
.main_ad ul p {
    padding-left: 66px;
    font-size: 40px; font-weight: bold;
    color: #FFFFFF;
    background: url(./images/ico_phone.png) no-repeat 0 center;
}